<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid{
  height:23px;
  position:relative;
  bottom:4px;
}

.signin-button{
  background-color: #427de2;
  color: #fff;
  border:none;
  border-radius:3px;
  padding:7px 10px;
  position:relative;
  bottom:7px;
  font-weight:bold;
}

.signin-button:hover{
  background: #5692f5;
}

li{
  display: inline;
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}

li a:hover {
  text-decoration: underline;
}

#navbar {
  float: right;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  overflow: auto;
}

#google-image{
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#searchbar{
border-color: #f1f2f5;
  text-align: left;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 40px;
  width: 545px;
  height: 40px;
  outline: none;
  font-size: 20px;
  text-indent: 2.5rem;
   }

   #searchbar:hover{
    box-shadow: 1px 1px 6px 1px #dcdcdc;
  }

  .search-position{
    display: block;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .search_icon{
    height: 18px;
    position:relative;
    bottom: 6px;
    position: absolute;
    top: 32%;
    left: 3%;
    margin-right: -50%;
    padding-left: 20;
    display: flex;
  }

  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:-33px;
  }
 .flex-box{
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
 }
  #feeling-lucky{
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  #lucky-button:hover{
    background: rgb(248, 250, 250);
  }

  #lucky-button{
   color: rgb(119, 117, 117);
   border: none;
  border-radius:4px;
  outline: none;
  padding: 10px 10px;
  background-color:#f2f2f2;
  font-size: 15px;
  }

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 1900px;
  color: rgb(119, 117, 117);
  text-decoration: none;
  font-size: 16px;
}


.footer-right {
  position: fixed;
  bottom: 0;
  right: 20px;
 margin-right: 16px;

}

.footer-left {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 0px;
}
  
  
</style>